SlzPrivate/

SlzMarkerTool/bin/
SlzMarkerTool/obj/
bin/
obj/
releases/
*.user
*.suo
.vs/
.cursor/
*.dll
*.zip
!manifest.json
*BeatSaber-Multiplayer-Chat-Quest.MD
*BeatSaber-Multiplayer-Chat.code-workspace
